html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  background: #fbf8f3;
}

#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: initial;
}

button,
input,
select,
textarea {
  font: inherit;
}